<div class="sesion">
	<div class="container">
		<form id="form-sesion" class="form-signin" role="form">
	    	<h2 id="head-sesion" class="form-signin-heading">Iniciar Sesi&oacute;n</h2>
	    	<input type="email" class="form-control" placeholder="Nombre de usuario" required="" autofocus="">
	    	<input type="password" class="form-control" placeholder="Contrase&ntilde;a" required="">
	    	<div class="checkbox">
	      		<label>
	        		<input type="checkbox" value="remember-me"> Recordarme
	      		</label>
	    	</div>
	    	<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
	    	<a class="link" href="#"> Olvid&eacute; mi contrase&ntilde;a
	    	<button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
	  	</form>
	</div>
</div>